.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: rem(528);
    margin: 0 auto;
}

.dropZone {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-height: rem(176);
    padding: em(48, 18) em(16, 18);
    border: em(2, 18) dashed #495f6e;
    border-radius: em(8, 18);
    text-align: center;
    cursor: pointer;
    color: inherit;
    font-size: rem(18);
    font-weight: 500;
    line-height: rem(24);
    letter-spacing: 0;
    transition: border-color 0.3s, background-color 0.3s;

    @media (max-width: 430px) {
        font-size: rem(16);
    }

    &:hover {
        border-color: #999;
        background-color: #007bff0c;
    }

    &:focus-visible {
        outline: rem(3) solid rgba($main-blue, 0.35);
        outline-offset: rem(3);
    }

    &.isLoading,
    &.isLoading:hover {
        border-color: $main-blue;
        background-color: #f0f8ff;
    }

    &.error,
    &.error:hover {
        border-color: $error;
        background-color: transparent;
    }
}

.label {
    margin: rem(15) 0px;
    font-size: rem(18);
    letter-spacing: 0;
    line-height: rem(18);

    @media (max-width: 430px) {
        font-size: rem(16);
    }
}

.dragOver {
    border-color: $main-blue;
    background-color: #f0f8ff;
}

.errorMessage {
    color: $error;
    font-size: rem(14);
    line-height: rem(16);
    letter-spacing: 0;
    font-weight: 400;
    visibility: hidden;
    min-height: rem(16);

    &.error {
        visibility: visible;
    }
}

.input {
    position: absolute;
    width: rem(1);
    height: rem(1);
    overflow: hidden;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    white-space: nowrap;
}

.hint {
    font-size: rem(14);
    line-height: rem(16);
    letter-spacing: 0;
    color: #4f616f;
    font-weight: 400;
    margin-top: em(8, 14);
}

.spinner {
    width: rem(16);
    aspect-ratio: 1;
    border: rem(2, 20) solid transparent;
    border-top-color: $main-blue;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}
