.wrapper {
    width: 100%;
    max-width: rem(500);
    text-align: center;
}

.label {
    font-size: rem(14);
    font-weight: 400;
    margin-bottom: em(10, 14);
    color: $primary-black;
    letter-spacing: 0;
    line-height: 100%;
}

.track {
    background-color: $unloaded-progress;
    height: rem(8);
    border-radius: rem(16);
    overflow: hidden;
}

.fill {
    background-color: $main-blue;
    height: 100%;
    border-radius: rem(16);
    transform-origin: left;
    transform: scaleX(0); 
    transition: transform 0.3s ease;
}
