.loaderWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.spinner {
    width: rem(150);
    height: rem(150);
    border: rem(5) solid rgba(0, 0, 0, 0.1);
    border-top-color: $main-blue;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}
